/* Custom Properties */
:root {
  --color-light: #f8f9fa;
  --color-dark: #181a1c;

  --text-color-white: var(--color-light);
  --text-color-black: var(--color-dark);

  --bg-color: rgb(226, 226, 226);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  min-height: 100%;
  font-size: 62.5%; /* sets 1rem equal to 10px instead of default 16px (10px/16px = 62.5%) */
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.25;
  color: var(--text-color-black);
  -webkit-font-smoothing: antialiased;

  background-color: var(--bg-color);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}
